*{
    margin: 0;
}

.barra{
    width: 500px;
    margin: auto; /*CENTRADO*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

.menu > li{
    float: left;
}

.menu li a{
    background-color: rgb(59, 17, 248);
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.menu li a:hover{
    background-color: brown;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 150px; 
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

.principal h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fotos{
    padding: 10px 20px 20px;
}

img:hover{
    opacity: .5;
    transition: .1s;
}